body {
    background-size: cover;
    background-color: #212121;
}
canvas {
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -400px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 20px rgb(0, 0, 0), 0px 0px 50px rgb(0, 0, 0);
}
